<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/manager"></ion-back-button>
    </ion-buttons>
    <ion-title>add-inventory-storeroom</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Add StoreRoom Inventory</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-item>
        <ion-label>Type barcode</ion-label>
        <ion-toggle slot="end" [(ngModel)]="toggleChecked"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="toggleChecked">
        <ion-label position="floating">Barcode</ion-label>
        <ion-input type="text" [(ngModel)]="barcode"></ion-input>
      </ion-item>
      <ion-item *ngIf="!toggleChecked">
        <ion-button expand="block" (click)="scanBarcode()">
          <ion-icon slot="start" name="barcode-outline"></ion-icon> Scan
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Item Name</ion-label>
        <ion-input type="text" [(ngModel)]="itemName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Category</ion-label>
        <ion-select [(ngModel)]="itemCategory">
          <ion-select-option value="Cleaning Detergents">Cleaning Detergents</ion-select-option>
          <ion-select-option value="Plastics">Plastics</ion-select-option>
          <ion-select-option value="Cleaning Equipment">Cleaning Equipment</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea [(ngModel)]="itemDescription"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Quantity</ion-label>
        <ion-input type="number" [(ngModel)]="itemQuantity"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Picker Name</ion-label>
        <ion-input type="text" [(ngModel)]="pickersDetails"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Picker Email</ion-label>
        <ion-input type="text" [(ngModel)]="pickersDetailsEmail"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Phone number</ion-label>
        <ion-input type="tel" [(ngModel)]="phone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Company</ion-label>
        <ion-input type="text" [(ngModel)]="Cumpany"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Date of Pickup</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="dateOfPickup"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Time of Pickup</ion-label>
        <ion-input type="time" [(ngModel)]="timeOfPickup"></ion-input>
      </ion-item>

      <ion-button expand="block" id="fileInput" color="medium" class="custom-file-input" (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
        Take Picture
      </ion-button>

      <ion-button expand="block" (click)="addItem()">Add Item</ion-button>

      <ion-button expand="block" (click)="generateSlip()">DONE</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
