<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment value="custom">
    <ion-segment-button value="custom">
      <ion-label>add Inventory to shop</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>Updated Inventory to shop</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>View Shop Inventory</ion-label>
    </ion-segment-button>
  </ion-segment>
  
</ion-content>
