<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Best Brightness</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let option of managerOptions">
        <ion-card button (click)="segmentChanged(option.value)">
          <ion-card-header>
            <ion-card-subtitle>
              <ion-icon [name]="option.icon"></ion-icon> {{ option.label }}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ option.description }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Placeholder content for different segments -->
  <div *ngIf="segment === 'addInventory'">
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="segment === 'moveToStore'">
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="segment === 'UpdateStore'">
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="segment === 'viewAnalytics'">
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="segment === 'viewInventory'">
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="segment === 'viewUsers'">
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="segment === 'viewInvoices'">
    <router-outlet></router-outlet>
  </div>
</ion-content>