/* Reset default styles */
ion-segment-button {
  --color: #ffffff;
  --color-checked: #ffffff;
  --background: #2c786c;
  --background-checked: #004445;
  --indicator-color: #ffffff;
  font-size: 10px;
}

ion-segment-button ion-label {
  padding: 8px 12px;
}

/* Segment styles */
ion-segment {
  margin-bottom: 20px;
}

/* Chart container styles */
.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

/* Chart styles */
canvas {
  margin: 20px;
}

/* Hide/Show chart containers */
#storeroom-inventory-chart,
#category-comparison-chart,
#total-quantities-chart,
#best-performing-product-chart {
  display: none;
}