.chart-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

canvas {
  width: 100%;
  height: auto;
}

ion-segment {
  margin-top: 20px;
}
ion-segment-button {
  font-size: 17px; /* Adjust the font size as needed */
}
.top{
  font-size: 13px;
}