<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/manager"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Inventory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated [(ngModel)]="searchTerm" placeholder="Search by name" (ionInput)="filterInventory()"></ion-searchbar>

  <ion-list>
    <ion-list-header>
      <ion-label>Filter Options</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="selectedCategory" (ionChange)="filterInventory()">
        <ion-select-option value="">All</ion-select-option>
        <ion-select-option value="Cleaning Detergents">Cleaning Detergents</ion-select-option>
        <ion-select-option value="Plastics">Plastics</ion-select-option>
        <ion-select-option value="Cleaning Equipment">Cleaning Equipment</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Quantity</ion-label>
      <ion-select [(ngModel)]="selectedQuantityRange" (ionChange)="filterInventory()">
        <ion-select-option value="">All</ion-select-option>
        <ion-select-option value="tooLow">Too Low</ion-select-option>
        <ion-select-option value="runningLow">Running Low</ion-select-option>
        <ion-select-option value="middle">Middle</ion-select-option>
        <ion-select-option value="full">Full</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-segment value="segment" mode="md">
    <ion-segment-button value="custom" routerLink="/home">
      <ion-label>Menu</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>Store</ion-label>
    </ion-segment-button>
    <ion-segment-button value="storeroom" routerLink="/storeroom">
      <ion-label>Storeroom</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-list-header>
      <ion-label>Inventory</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let item of filteredInventory" class="inventory-item">
      <ion-thumbnail slot="start">
        <img [src]="item.imageUrl" alt="{{ item.name }} Image">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p>
          <ion-icon name="pricetags-outline"></ion-icon> {{ item.category }}
        </p>
        <p>
          <ion-icon name="cube-outline"></ion-icon> Quantity: {{ item.quantity }}
        </p>
        <p>
          <ion-icon name="barcode-outline"></ion-icon> Barcode: {{ item.barcode }}
        </p>
      </ion-label>
      <div slot="end">
        <ion-button (click)="goToUpdate(item.name, item.category, item.description, item.quantity, item.barcode, item.pickersDetails, item.dateOfPickup, item.timeOfPickup, item.imageUrl)" color="primary">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="openModal(item.imageUrl, item.name)" color="secondary">
          <ion-icon name="eye-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>

  <ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ modalTitle }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isModalOpen = false">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <img [src]="selectedImageUrl" alt="Full Image">
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>