<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/manager"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Add Inventory</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeScanner()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="container" class="add-item-card">
    <ion-card-header class="card-header">
      <ion-card-title>New Item Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          <ion-label>Barcode</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-toggle labelPlacement="end" [(ngModel)]="toggleChecked">Type barcode</ion-toggle>
        </ion-item>
        <ion-item *ngIf="toggleChecked">
          <ion-input type="text" (ionChange)="searchProductByBarcode()" [(ngModel)]="barcode" placeholder="Enter barcode"></ion-input>
        </ion-item>
        <ion-item *ngIf="!toggleChecked">
          <ion-button expand="block" (click)="scanBarcode()">
            <ion-icon name="barcode-outline"></ion-icon> Scan Barcode
          </ion-button>
        </ion-item>

        <ion-list-header>
          <ion-label>Item Details</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-input type="text" [(ngModel)]="itemName" placeholder="Item Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Category</ion-label>
          <ion-select [(ngModel)]="itemCategory">
            <ion-select-option value="Cleaning Detergents">Cleaning Detergents</ion-select-option>
            <ion-select-option value="Plastics">Plastics</ion-select-option>
            <ion-select-option value="Cleaning Equipment">Cleaning Equipment</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-textarea [(ngModel)]="itemDescription" placeholder="Description"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-input type="number" [(ngModel)]="itemQuantity" placeholder="Quantity"></ion-input>
        </ion-item>

        <ion-list-header>
          <ion-label>Pickup Details</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-input type="email" [(ngModel)]="pickersDetails" placeholder="Picker's Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Date of Pickup</ion-label>
          <ion-input type="date" [(ngModel)]="dateOfPickup"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Time of Pickup</ion-label>
          <ion-input type="time" [(ngModel)]="timeOfPickup"></ion-input>
        </ion-item>
      </ion-list>
      
      <ion-button expand="block" (click)="addItem()" >Add Item</ion-button>
      <br><br>

      <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button (click)="generateSlip()" >
          <ion-icon name="print-outline"></ion-icon>
        </ion-fab-button >
      </ion-fab>

      <ion-fab vertical="bottom" horizontal="start">
        <ion-fab-button id="fileInput" color="medium" class="custom-file-input" (click)="takePicture()" >
          <ion-icon name="camera-outline"></ion-icon>
        </ion-fab-button >
      </ion-fab>

    </ion-card-content>
  </ion-card>
</ion-content>