<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Select Role</ion-label>
      <ion-select [(ngModel)]="selectedRole">
        <ion-select-option value="Manager">Manager</ion-select-option>
        <ion-select-option value="picker">Picker</ion-select-option> 
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="confirm_password"></ion-input>
    </ion-item>
  </ion-list>

  <div class="ion-text-center ion-margin">
    <ion-button expand="block" color="primary" (click)="register()">Sign Up</ion-button>
  </div>

  <p class="ion-text-center ion-margin-top">Already have an account? <a routerLink="/login">Login</a></p>
  <p class="ion-text-center">Forgot password? <a routerLink="/reset">Reset</a></p>
</ion-content>
