ion-item {
    --padding-start: 0;
  }
  
  ion-button {
    --background: #2c786c;
    --border-radius: 25px;
  }
  
  ion-button:hover {
    --background: #004445;
  }
  
  ion-select {
    --padding-start: 0;
  }
  
  ion-input {
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  ion-item ion-label {
    color: #2c786c;
  }
  
  ion-item ion-select {
    color: #2c786c;
  }
  
  ion-item ion-select::part(text) {
    color: #2c786c;
  }
  
  .ion-text-center {
    text-align: center;
  }
  
  ion-button{
    --background:#2c786c;
  }